{% extends "base-simplified.html" %}
{% load account i18n %}
{% block page_title %}
    {% translate "Password Reset" %}
{% endblock page_title %}

{% block content %}
    <div class="my-8 mx-auto max-w-sm">
        <h1 class="text-3xl font-medium tracking-tight leading-tight text-center md:text-2xl text-primary">
            <span class="italic font-thin">Tran</span>Trac
        </h1>
        <h2 class="my-4 text-base font-medium tracking-tight text-center md:text-xl text-base-content">
            {% translate "Password Reset" %}
        </h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="mb-4 italic font-light text-base-content">
            {% blocktranslate %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktranslate %}
        </p>
        <a href="{% url 'index' %}"
           class="w-full btn btn-primary">Torna alla home</a>
    </div>
{% endblock content %}
