{% extends "base-simplified.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "Change Password" %}
{% endblock page_title %}

{% block content %}
    <h1 class="text-3xl font-medium tracking-tight leading-tight text-center md:text-2xl text-primary">
        <span class="italic font-thin">Tran</span>Trac
    </h1>
    <h2 class="my-4 text-base font-medium tracking-tight text-center md:text-xl text-base-content">{% translate "Change Password" %}</h2>
    <p class="mb-4 text-center text-gray-500">{% translate 'Your password is now changed.' %}</p>
    <a href="{% url 'index' %}"
           class="w-full btn btn-primary">Effettua il login</a>
{% endblock content %}
