{% if messages %}
    <div id="toast_container" class="fixed inset-x-0 top-3">
        {% for message in messages %}
            <div class="flex justify-between items-center p-4 mx-auto mb-3 w-full max-w-xs rounded-lg shadow-sm sm:max-w-sm md:max-w-lg lg:max-w-xl text-base-content bg-base-200"
                 role="alert"
                 x-cloak
                 x-data="{ show: true }"
                 x-show="show"
                 x-init="setTimeout(() => show = false, 3000)">
                <div class="flex items-center">
                    {% if message.tags == 'info' %}
                        {% heroicon_mini "information-circle" class="size-5 text-info" %}
                        <span class="sr-only">Info icon</span>
                    {% elif message.tags == 'success' %}
                        {% heroicon_mini "check-circle" class="size-5 text-success" %}
                        <span class="sr-only">Check icon</span>
                    {% elif message.tags == 'error' %}
                        {% heroicon_mini "exclamation-circle" class="size-5 text-error" %}
                        <span class="sr-only">Red exclamation icon</span>
                    {% elif message.tags == 'warning' %}
                        {% heroicon_mini "exclamation-circle" class="size-5 text-warning" %}
                        <span class="sr-only">Yellow exclamation icon</span>
                    {% elif message.tags == 'debug' %}
                        % heroicon_mini "bug-ant" class="size-5 text-accent" %}
                        <span class="sr-only">Bug ant icon</span>
                    {% endif %}
                    <div class="text-sm font-normal ms-3">{{ message|safe }}</div>
                </div>
                <button class="btn btn-sm btn-circle"
                        type="button"
                        @click="show = !show"
                        aria-label="Close">
                    <span class="sr-only">Close</span>
                    {% heroicon_solid "x-mark" class="size-5" %}
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
