{% load django_htmx static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Transactions Tracker">
        <meta name="keywords"
              content="transactions, tracker, money, budget, finance">
        <title>
            {% block page_title %}
                Transactions Tracker
            {% endblock page_title %}
        </title>
        <!-- TailwindCSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="container my-8 mx-auto max-w-screen-sm">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- Messages -->
        <div id="messages" class="z-3" hx-boost="true">{% include 'includes/messages.html' %}</div>
        <!-- HTMX -->
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <!-- AlpineJS -->
        <script src="{% static 'js/alpine.min.js' %}"></script>
        {% django_htmx_script %}
    </body>
</html>
