{% load django_htmx static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Transactions Tracker">
        <meta name="keywords"
              content="transactions, tracker, money, budget, finance">
        <title>
            {% block page_title %}
                Transactions Tracker
            {% endblock page_title %}
        </title>
        <!-- TailwindCSS -->
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
        <!-- CustomCSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="container mx-auto mt-2 mb-2 max-w-screen-lg md:mb-8">{% include 'includes/navbar.html' %}</div>
        {% block content %}
        {% endblock content %}
        <!-- Messages -->
        <div id="messages" class="z-3" hx-boost="true">{% include 'includes/messages.html' %}</div>
        <!-- Modal -->
        {% include 'includes/modal.html' %}
        <!-- HTMX -->
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <!-- AlpineJS -->
        <script src="{% static 'js/alpine.min.js' %}"></script>
        {% django_htmx_script %}
    </body>
</html>
